$purple-color: rgb(211, 182, 250);
$yellow-clr: rgb(233, 233, 143);
$pink-clr: rgb(249, 189, 199);
$green-clr: rgb(164, 244, 164);
.bg-green {
  background-color: $green-clr;
}
.bg-yellow {
  background-color: $yellow-clr;
}
.bg-pink {
  background-color: $pink-clr;
}
.bg-purple {
  background-color: $purple-color;
}
.add-btn {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
  background: var(--dark-txt-clr);
  color: var(--txt-clr);

  &:hover {
    opacity: 0.9;
  }
}
.hero-sticky {
  background-color: #e9ebd4;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='72' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%238daca1' fill-opacity='0.52'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.flex-col {
  display: flex;
  padding: 0rem 2rem;
  align-items: self-start;
  flex-direction: column;
  .flex-row {
    padding: 0;
    align-items: center;
    gap: 0.75rem;
    .detail-cont {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 1rem;
      }
    }
    .color-wrapper {
      display: flex;
      gap: 0.625rem;

      .color-box {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid var(--cta-clr);
      }
    }

    textarea {
      resize: none;
      width: 12.5rem;

      height: 12.5rem;
      padding: 0.5rem;
      border: none;
      color: var(--dark-txt-clr);
      font-size: 1rem;
      border-bottom: 2px solid var(--dark-txt-clr);

      &:focus {
        outline: none;
      }
    }
  }
  h1 {
    font-size: 2.5rem;
    color: var(--brown-clr);
    padding: 0.6rem;
    background-color: #e9ebd4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%238daca1' fill-opacity='0.4'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: fit-content;

    text-align: start;
  }
}

.sticky-empty {
  width: 100%;
  font-size: 1.5rem;
  color: var(--primary-clr);
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.sticky-wrapper {
  background: url("../../assets/bg2.png");
  height: 100%;

  .sticky-cont {
    display: flex;
    margin-top: 2.5rem;
    gap: 1.25rem;
    flex-wrap: wrap;
    .sticky-note {
      padding: 0.5rem;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      color: var(--dark-txt-clr);
      justify-content: space-between;
      width: 15.625rem;
      height: 18.75rem;
      overflow-wrap: break-word;
      overflow-y: scroll;
      .date {
        color: var(--primary-clr);
      }
    }
  }
  .remove-btn {
    position: absolute;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--cta-clr);
    font-size: 2rem;
    top: 0%;
    right: 2%;
  }
}

@media screen and (max-width: 635px) {
  .hero-sticky h1 {
    font-size: 36px;
  }
  .sticky-wrapper .sticky-cont {
    justify-content: center;
    padding: 1rem;
  }
  .hero-sticky {
    margin-bottom: 20px;
  }
  .flex-row {
    justify-content: center;
  }
}
