body {
  --cta-clr: #8daca1;
  --primary-clr: #406e5e;
  --sec-clr: #e9ebd4;
  --txt-clr: #f3e0c0;
  --bg-clr: #d6925e;
  --tag-clr: rgb(243, 201, 129);
  --dark-txt-clr: #874e22;
  --brown-clr: #43281c;

  --toastify-color-light: #f3f5b0;
  background-color: var(--sec-clr);
  font-family: "Gopher Display";
  font-family: "Catamaran", sans-serif;

  margin: 0;
  height: 100%;
}
body .vc-blue {
  --vc-accent-50: #d5ece4;
  --vc-accent-100: #abe8d3;
  --vc-accent-200: #6da89380;
  --vc-accent-300: #87c7b0;
  --vc-accent-400: #79bda6;
  --vc-accent-500: #6da893;
  --vc-accent-600: #578e7a;
  --vc-accent-700: #528976;
  --vc-accent-800: #487666;
  --vc-accent-900: #2d5447;
}
body .book-journal-wrapper svg {
  width: 2rem;
  height: 2rem;
}
.Toastify__toast-body {
  height: 30px;
}
.flex-row {
  display: flex;
  padding: 0rem 2rem;
  overflow: hidden;
  justify-content: space-between;

  h1 {
    font-size: 8rem;
    text-align: center;
    margin: 0;
    color: var(--brown-clr);

    font-weight: 900;

    font-weight: bold;
  }
  .title {
    font-size: 3rem;
  }
  .heading-cont {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
  }
  p {
    font-size: 2rem;
    margin: 0;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    color: var(--primary-clr);
  }
  .btn-connect {
    bottom: 30%;
    cursor: pointer;
    font-size: 3rem;
    left: 20%;
    margin: 0;
    color: var(--sec-clr);
  }
}
.connect-cont {
  &:hover .path {
    stroke-dasharray: 500;
    stroke-dashoffset: 0;
    animation: dash 1s linear;
  }

  @keyframes dash {
    from {
      stroke-dashoffset: 500;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
}
.path:hover {
  stroke-dasharray: 500;
  stroke-dashoffset: 0;
  animation: dash 1s linear;
}

@keyframes dash {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.blob-cont {
  width: 45%;
  padding-right: 6rem;
  object-fit: contain;
  padding-bottom: 2rem;
  height: 30%;
  svg {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}

.full-sx {
  height: 100%;
  width: 85%;
  object-fit: contain;
}
.flex-end {
  right: 0;
  position: absolute;
  margin-right: 20px;
  a {
    margin-left: 10px;
  }
}
svg {
  width: 18rem;
  height: 10rem;
}

@media screen and (max-width: 500px) {
  .Toastify__toast-body {
    height: 20px;
  }
  .Toastify__toast {
    width: 180px;
  }
}
@media only screen and (max-width: 480px) {
  .Toastify .Toastify__toast-container {
    left: 0;
    margin: 0;
    padding: 0;
    width: 44vw;
  }
  .Toastify .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-right {
    top: 5px;
    transform: translateX(90%);
  }
}
