.journal-wrapper {
  display: grid;
  min-height: 87.5vh;
  grid-template-columns: 20% 80%;
}
h1 {
  margin: 0;
}
.content-wrapper {
  // margin-left: 20%;
}

aside {
  border-right: 1px solid var(--cta-clr);
  background-color: #e9ebd4;
  height: 91vh;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23874e22' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E");
  img {
    display: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0rem;
  }
  ul li {
    margin: 1rem 2rem 1rem 0rem;
    padding: 0.5rem;
    font-size: 1.1rem;

    font-weight: 600;
    cursor: pointer;
    letter-spacing: 1px;
    color: var(--primary-clr);

    -webkit-clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 85% 50%, 100% 100%, 0 100%);

    &:hover {
      background: var(--bg-clr);
    }
  }
}

.bg-tag {
  background: var(--tag-clr);
}
@media screen and (max-width: 660px) {
  .journal-wrapper {
    grid-template-columns: 100%;
  }

  aside {
    position: absolute;
    width: 150px;
    transform: translateX(-150px);
    z-index: 1;
    img {
      display: block;
      position: absolute;
      top: 40%;
      left: 75px;
    }
  }
}
