// .home-wrapper {
//   width: 100%;

//   height: 90vh;
// }
.home-wrapper {
  height: 100%;
  width: 100%;
}
nav {
  display: flex;
  justify-content: center;

  padding: 1rem 2rem 0rem 2rem;
  gap: 2.5rem;
  min-height: 3rem;
  z-index: 1;
  font-size: 1.2rem;
  background: #8daca124;
  backdrop-filter: blur(5px);
  font-weight: bold;
  color: var(--dark-txt-clr);
  border-bottom: 1px solid var(--txt-clr);

  p {
    cursor: pointer;
    display: flex;
    min-width: 5rem;
    flex-direction: column;
    margin: 0;
    min-height: 3.125rem;
    &:hover .path-nav {
      stroke-dasharray: 400;
      stroke-dashoffset: 0;
      animation: dash 1s linear;
    }
    .signOut-svg {
      margin-top: -1.4375rem;
    }
    @keyframes dash {
      from {
        stroke-dashoffset: 400;
      }
      to {
        stroke-dashoffset: 0;
      }
    }
    svg {
      width: 3.75rem;
      margin-top: -0.625rem;
      height: 1.25rem;
    }
  }
}
a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 2000px) {
  html {
    font-size: 120%;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 100%;
  }
}
@media screen and (max-width: 1390px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 70%;
  }
}
@media screen and (max-width: 960px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 855px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 635px) {
  .home-wrapper {
    .flex-row {
      flex-wrap: wrap-reverse;
      .heading-cont {
        width: 100%;
        align-items: center;
        h1 {
          font-size: 44px;
        }
        p {
          font-size: 32px;
        }
      }
    }
    .blob-cont {
      position: relative;
      width: 100%;
      padding-right: 0;
      height: 42vh;
      svg {
        height: 40vh;
        position: absolute;
      }
    }
    .music-img {
      margin: auto;
      top: 15%;
      height: 25vh;

      // top: 15%;
      // right: 1%;
      // height: 30vh;
    }
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 83%;
  }
  .journal-box {
    .line {
      text-align: center;
      font-size: 32px;
    }
  }
}
